<% @products.each do |product| %>

<div><%= product.name %></div>
<div><%= product.price %></div>
<div><% product.weight %></div>
<div><% product.inventory %></div>
<div>
<%= link_to "#{"View " + product.name + " Sunglasses"}", product_path(product.name) %>
</div>
<% end %>



